@import "tailwindcss";

:root {
  --primary-color: #000000;
  --primary-text-color: #ffffff;
  --secondary-color: #2ecc71;
  --secondary-text-color: #9c9c9c;
}
body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

@font-face {
  font-family: 'Regular';
  src: url('../public/Fonts/GeneralSans-Regular.otf');
}
@font-face {
  font-family: 'Bold';
  src: url('../public/Fonts/GeneralSans-Medium.otf');
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.5%);
  }
}

.marquee {
  animation: marquee 6s linear infinite;
}
