@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: #000000;
  --primary-text-color: #ffffff;
  --secondary-color: #616161;
  --secondary-text-color: #9c9c9c;
}
body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

@font-face {
  font-family: 'Regular';
  src: url('../public/Fonts/GeneralSans-Regular.otf');
}
@font-face {
  font-family: 'Bold';
  src: url('../public/Fonts/GeneralSans-Medium.otf');
}

.transitionNav{
	transition: translate 0.8s cubic-bezier(0.65, 0, 0.35, 1);
}
.transitionHideNav{
	transition: translate 1s cubic-bezier(0.65, 0, 0.35, 1);
}
.transitionHideLinks{
	transition: translate 0.5s ease;
}

.hoverBottomBorder{
  position: relative;
  cursor: pointer;
}
.hoverBottomBorder::after{
  content: "";
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top:97%;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.2s ease;
}
.hoverBottomBorder:hover::after{
  transform: scaleX(1);
}

.hoverRotate{
  transition: all 0.5s ease;
}
.hoverBottomBorder:hover .hoverRotate{
  transform: rotate(45deg);
}